syntax: glob
TAGS
.pc
*~
*\#
*.flc
*.orig
*.rej
*.suo
*.cache
bin
Debug
log4net
nant
NUnit
obj
xml-rpc.net
sharpziplib
XenServer.NET/*
Thumbs.db
*-listing.txt
*.ncb
*.user
*.idc
*.bak
splash/Release/*
Installer/Release/*
WixInstaller/wixlib/*
WixInstaller/outXenCenter*
WixInstaller/*.mst
WixInstaller/*/*.msi
WixInstaller/*/*.wixlib
WixInstaller/*/*.wixobj
WixInstaller/*/*.wixpdb
WixInstaller/XenCenter.l10n.*
WixInstaller/PrintEula.dll
WixInstaller/XenCenter.l10n.wxs
XenOvfApi/External Tools/bootablereference.vhd.bz2
sign.bat
XenServer-SDK.zip
_ReSharper.*/
glob:Nunit/nunit.framework.dll
glob:XenOvfApi/External Tools/xenserver-linuxfixup-disk.iso
*.opensdf
*.sdf
CookComputing.XmlRpcV2.dll
CookComputing.XmlRpcV2.pdb
CookComputing.XmlRpcV2_dotnet2.dll
CookComputing.XmlRpcV2_dotnet2.pdb
DiscUtils.dll
DiscUtils.pdb
ICSharpCode.SharpZipLib.dll
ICSharpCode.SharpZipLib.pdb
Ionic.Zip.dll
Ionic.Zip.pdb
SOURCES/MANIFEST
SOURCES/patch-discutils_csproj_dotnet4
SOURCES/patch-dotnetzip-csproj-dotnet4.diff
SOURCES/patch-sharpziplib-8gb.diff
SOURCES/patch-sharpziplib-ca-61725.diff
SOURCES/patch-sharpziplib-ca-63358-TarBuffer.diff
SOURCES/patch-sharpziplib-ca-63358-TarInputStream.diff
SOURCES/patch-sharpziplib-csproj.diff
SOURCES/patch-sharpziplib-csproj_dotnet4.diff
SOURCES/patch-sharpziplib-public-extract.diff
SOURCES/patch-sharpziplib-version-number.diff
SOURCES/patch-sharpziplib-z00-TarHeader-xmlcomment.diff
SOURCES/patch-sharpziplib-z01-TarInputStream-xmlcomment.diff
SOURCES/patch-xmlrpc-AssemblyInfo-dotnet4.diff
SOURCES/patch-xmlrpc-csproj-dotnet4.diff
SOURCES/patch-xmlrpc-datetime-utc
SOURCES/patch-xmlrpc-empty-name
SOURCES/patch-xmlrpc-nan
SOURCES/patch-xmlrpc-never
SOURCES/patch-xmlrpc-no-proxy
SOURCES/patch-xmlrpc-nre-logging
SOURCES/patch-xmlrpc-sln-dotnet4.diff
SOURCES/patch-xmlrpc-version-number
SOURCES/patch-xmlrpc.csproj
SOURCES/patch-xmlrpc.sln
XenAdmin/Help/HelpManager.ja.resx
XenAdmin/Help/HelpManager.zh-CN.resx
archive.zip
dotNetFx40_Full_setup.exe
latest-successful-build
log4net.dll
log4net.pdb
manifest
xenadmin deps.zip
