syntax: glob
TAGS
.pc
*~
*\#
*.flc
*.orig
*.rej
*.suo
*.cache
bin
Debug
log4net
nant
NUnit
obj
xml-rpc.net
sharpziplib
XenServer.NET/*
Thumbs.db
*-listing.txt
*.ncb
*.user
*.idc
*.bak
splash/Release/*
Installer/Release/*
WixInstaller/wixlib/*
WixInstaller/outXenCenter*
WixInstaller/*.mst
WixInstaller/*/*.msi
WixInstaller/*/*.wixlib
WixInstaller/*/*.wixobj
WixInstaller/*/*.wixpdb
WixInstaller/XenCenter.l10n.*
WixInstaller/PrintEula.dll
WixInstaller/XenCenter.l10n.wxs
XenOvfApi/External Tools/bootablereference.vhd.bz2
sign.bat
XenServer-SDK.zip
_ReSharper.*/
glob:Nunit/nunit.framework.dll
glob:XenOvfApi/External Tools/xenserver-linuxfixup-disk.iso
*.opensdf
*.sdf
