syntax: glob
TAGS
.pc
._expandrive
*~
*\#
*.flc
*.orig
*.rej
*.suo
*.cache
bin
Debug
nant
obj
Thumbs.db
*-listing.txt
*.ncb
*.user
*.idc
*.bak
splash/Release/*
Installer/Release/*
WixInstaller/wixlib/*
WixInstaller/outXenCenter*
WixInstaller/*.mst
WixInstaller/*/*.msi
WixInstaller/*/*.wixlib
WixInstaller/*/*.wixobj
WixInstaller/*/*.wixpdb
WixInstaller/XenCenter.l10n.*
WixInstaller/PrintEula.dll
WixInstaller/XenCenter.l10n.wxs
dotNetInstaller/*
dotNetFx40_Full_setup/*
packages/*
!packages/DOTNET_BUILD_LOCATION
!packages/DOTNET_BUILD_LOCATION_CTXSIGN
XenOvfApi/External Tools/*

_ReSharper.*/
*.opensdf
*.sdf
