<?xml version="1.0" encoding="utf-8"?>

<!--
 Copyright (c) Citrix Systems, Inc.
 All rights reserved.
 
 Redistribution and use in source and binary forms, 
 with or without modification, are permitted provided 
 that the following conditions are met: 
 
 *   Redistributions of source code must retain the above 
     copyright notice, this list of conditions and the 
     following disclaimer. 
 *   Redistributions in binary form must reproduce the above 
     copyright notice, this list of conditions and the 
     following disclaimer in the documentation and/or other 
     materials provided with the distribution. 

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND 
 CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, 
 INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF 
 MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE 
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR 
 CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
 SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, 
 BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
 SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
 WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING 
 NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE 
 OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF 
 SUCH DAMAGE. 
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <?define ProductVersion="1.0.0" ?>
    <?define UpgradeCode="{[BRANDING_VNC_CONTROL_UPGRADE_CODE_GUID]}"?>
    <?define ProductCode="{0CE5C3E7-E786-467a-80CF-F3EC04D414E4}"?>
    <?define VersionShort="5.5" ?>
    <Product Id="$(var.ProductCode)" Name="[Citrix] VNCControl" Language="$(env.WiXLangId)" Version="$(var.ProductVersion)" Manufacturer="[BRANDING_COMPANY_NAME_LEGAL]" UpgradeCode="$(var.UpgradeCode)">
        <Package Description="[Citrix] VNCControl" Languages="$(env.WiXLangId)" Comments="none." InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="VNCControl.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="Citrix" Name="[Citrix]">
                    <Directory Id="INSTALLDIR" ShortName="VNCContr" Name="VNCControl">
                        <Component Id="MainControl" Guid="[BRANDING_VNC_MAIN_CONTROL_GUID]">
                            <!--Main VNC Control-->
                            <File Id="VNCControlDLL" Source="..\VNCControl\bin\Release\VNCControl.dll" />
                            <!-- DLLs -->
                            <File Id="CookComputingDLL" Source="..\VNCControl\bin\Release\CookComputing.XmlRpcV2.dll" />
                            <File Id="log4netDLL" Source="..\VNCControl\bin\Release\log4net.dll" />
                            <File Id="XenCenterLibDLL" Source="..\VNCControl\bin\Release\XenCenterLib.dll" />
                            <File Id="XenCenterVNCDLL" Source="..\VNCControl\bin\Release\XenCenterVNC.dll" />
                            <File Id="XenServerDLL" Source="..\VNCControl\bin\Release\XenServer.dll" />
                            <!-- VNCControl COM Type Library -->
                            <File Id="VNCControlTlb" KeyPath="yes" Source="..\VNCControl\bin\Release\VNCControl.tlb">
                                <TypeLib Id="{7CD118EA-D8DA-464D-8303-B189912A9878}" Description="Active-X control to access XenServer VM administrative console" HelpDirectory="INSTALLDIR" Language="0" MajorVersion="1" MinorVersion="0">
                                    <Interface Id="{4CF54BB1-3A27-4FE6-9BEC-03BD404AF367}" Name="IVMConsoleEvents" ProxyStubClassId="{00020424-0000-0000-C000-000000000046}" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
                                    <Interface Id="{9088E0E7-BF28-39D3-9BBA-A2258660AF42}" Name="_VNCControl" ProxyStubClassId="{00020424-0000-0000-C000-000000000046}" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
                                    <Interface Id="{FFD87368-B188-4921-BE52-B3F75967FC89}" Name="IVMConsole" ProxyStubClassId="{00020424-0000-0000-C000-000000000046}" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
                                </TypeLib>
                            </File>
                            <!-- COM Registration -->
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Action="write" Type="string" Value="" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\InprocServer32" Value="mscoree.dll" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\InprocServer32" Name="Class" Value="XenAdmin.VNCControl" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\InprocServer32" Name="Assembly" Value="VNCControl, Version=1.0.1000.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\InprocServer32" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\InprocServer32" Name="CodeBase" Value="file:///[#VNCControlDLL]" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\InprocServer32\1.0.1000.0" Name="Class" Value="XenAdmin.VNCControl" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\InprocServer32\1.0.1000.0" Name="Assembly" Value="VNCControl, Version=1.0.1000.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\InprocServer32\1.0.1000.0" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\InprocServer32\1.0.1000.0" Name="CodeBase" Value="file:///[#VNCControlDLL]" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="CLSID\{D52D9588-AB6E-425B-9D8C-74FBDA46C4F8}\ProgId" Value="XenAdmin.VNCControl" Type="string" Action="write" />
                            <RegistryValue Root="HKCR" Key="Component Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Name="0" Value=".NET Category" Type="string" Action="write" />
                        </Component>
                        <!-- TestResources -->
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="MainControl" Title="VNCControl $(var.VersionShort)" Description="[Citrix] VNCControl $(var.VersionShort) - for accessing XenServer VM Consoles " Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR" AllowAdvertise="no" InstallDefault="local" Absent="disallow">
            <ComponentRef Id="MainControl" />
        </Feature>
        <Property Id="Install_All" Value="0" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="ARPPRODUCTICON" Value="XenCenterICO" />
        <Upgrade Id="$(var.UpgradeCode)">
            <UpgradeVersion Property="UPGRADEFOUND" ExcludeLanguages="yes" Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" />
            <UpgradeVersion OnlyDetect="yes" ExcludeLanguages="yes" Property="NEWERPRODUCTFOUND" Minimum="$(var.ProductVersion)" IncludeMinimum="no" />
        </Upgrade>
        <PropertyRef Id="NETFRAMEWORK20" />
        <Condition Message=".NET Framework 2.0 is not present on the computer."><![CDATA[Installed OR NETFRAMEWORK20]]></Condition>
        <InstallExecuteSequence>
            <AppSearch Sequence="50" />
            <FindRelatedProducts Before="LaunchConditions" />
            <LaunchConditions Sequence="100" />
            <ValidateProductID Sequence="700" />
            <CostInitialize Sequence="800" />
            <FileCost Sequence="900" />
            <CostFinalize Sequence="1000" />
            <MigrateFeatureStates Sequence="1200" />
            <InstallValidate Sequence="1400" />
            <InstallInitialize Sequence="1500" />
            <RemoveExistingProducts Sequence="1501" />
            <ProcessComponents Sequence="1600" />
            <UnpublishFeatures Sequence="1800" />
            <RemoveRegistryValues Sequence="2600" />
            <RemoveShortcuts Sequence="3200" />
            <RemoveFiles Sequence="3500" />
            <InstallFiles Sequence="4000" />
            <CreateShortcuts Sequence="4500" />
            <WriteRegistryValues Sequence="5000" />
            <RegisterUser Sequence="6000" />
            <RegisterProduct Sequence="6100" />
            <PublishFeatures Sequence="6300" />
            <PublishProduct Sequence="6400" />
            <InstallFinalize Sequence="6600" />
        </InstallExecuteSequence>
        <InstallUISequence>
            <FindRelatedProducts Before="LaunchConditions" />
            <ExecuteAction Sequence="1102" />
        </InstallUISequence>
        <Icon Id="XenCenterICO" SourceFile="..\Branding\Images\AppIcon.ico" />
    </Product>
</Wix>
