<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="XenOvf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="XenOvf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<applicationSettings>
		<XenOvf.Properties.Settings>
   <setting name="cimEnvelopeURI" serializeAs="String">
    <value>http://schemas.dmtf.org/ovf/envelope/1</value>
   </setting>
   <setting name="winFileFormatURI" serializeAs="String">
    <value>http://www.microsoft.com/technet/virtualserver/downloads/vhdspec.mspx</value>
   </setting>
   <setting name="LogLevel" serializeAs="String">
    <value>Audit, Error, Warning</value>
   </setting>
   <setting name="LogFile" serializeAs="String">
    <value>XenApplianceWizard.log</value>
   </setting>
   <setting name="LogType" serializeAs="String">
    <value>Audit, Console</value>
   </setting>
   <setting name="LogSource" serializeAs="String">
    <value>XenLocalOVF</value>
   </setting>
   <setting name="LogPath" serializeAs="String">
    <value>ApplicationData</value>
   </setting>
   <setting name="p2vTemplate" serializeAs="String">
    <value>XenServer P2V (Orela) Server</value>
   </setting>
   <setting name="p2vGuestName" serializeAs="String">
    <value>Orela</value>
   </setting>
   <setting name="ovfversion" serializeAs="String">
    <value>1.0.0</value>
   </setting>
   <setting name="FileURI" serializeAs="String">
    <value>{0}</value>
   </setting>
   <setting name="vhsSettings" serializeAs="String">
    <value>Virtual Hardware Requirements: {0} MB RAM; {1} CPU(s), {2} Disk(s), {3} Network(s)</value>
   </setting>
   <setting name="OvfMimimalManifest" serializeAs="String">
    <value>CPU;MEMORY;DISK</value>
   </setting>
   <setting name="Versions" serializeAs="String">
    <value>0.9;1.0;1.0.0;1.0.0a;1.0.0.b;1.0.0c;1.0.0d;1.0.1;1.0.0e</value>
   </setting>
   <setting name="KnownNamespaces" serializeAs="String">
    <value>ovf=http://schemas.dmtf.org/ovf/envelope/1, xs=http://www.w3.org/2001/XMLSchema,cim=http://schemas.dmtf.org/wbem/wscim/1/common,rasd=http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_ResourceAllocationSettingData,vssd=http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_VirtualSystemSettingData,xsi=http://www.w3.org/2001/XMLSchema-instance,xenovf=http://schemas.citrix.com/ovf/envelope/1,wsse=http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd,ds=http://www.w3.org/2000/09/xmldsig#,wsu=http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd,xenc=http://www.w3.org/2001/04/xmlenc#</value>
   </setting>
   <setting name="VerifySignatureOnly" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="xenPVBootloader" serializeAs="String">
    <value>pygrub</value>
   </setting>
   <setting name="xenKernelOptions" serializeAs="String">
    <value>graphical utf8</value>
   </setting>
   <setting name="xenBootOptions" serializeAs="String">
    <value>BIOS order</value>
   </setting>
   <setting name="xenBootOrder" serializeAs="String">
    <value>dc</value>
   </setting>
   <setting name="xenPVPlatformSetting" serializeAs="String">
    <value>nx=true;acpi=true;apic=true;pae=true;viridian=true;</value>
   </setting>
   <setting name="xenPlatformSetting" serializeAs="String">
    <value>nx=true;acpi=true;apic=true;pae=true;stdvga=0;</value>
   </setting>
   <setting name="xenDefaultVirtualSystemType" serializeAs="String">
    <value>hvm-3.0-unknown</value>
   </setting>
   <setting name="xenDefaultNetwork" serializeAs="String">
    <value>xenbr0</value>
   </setting>
   <setting name="xenP2VDiskName" serializeAs="String">
    <value>P2V Automatically created.</value>
   </setting>
   <setting name="vmwNameSpace" serializeAs="String">
    <value>vmwovf:http://www.vmware/schema/ovf</value>
   </setting>
   <setting name="xenNetworkKey" serializeAs="String">
    <value>network=</value>
   </setting>
   <setting name="ovfEnvelopeSchemaLocation" serializeAs="String">
    <value>Schemas\DSP8023.xsd</value>
   </setting>
   <setting name="ovfEnvironmentSchemaLocation" serializeAs="String">
    <value>Schemas\DSP8027.xsd</value>
   </setting>
   <setting name="xmlNamespaceSchemaLocation" serializeAs="String">
    <value>Schemas\xml.xsd</value>
   </setting>
   <setting name="cimCommonSchemaLocation" serializeAs="String">
    <value>Schemas\common.xsd</value>
   </setting>
   <setting name="cimRASDSchemaLocation" serializeAs="String">
    <value>Schemas\CIM_ResourceAllocationSettingData.xsd</value>
   </setting>
   <setting name="cimVSSDSchemaLocation" serializeAs="String">
    <value>Schemas\CIM_VirtualSystemSettingData.xsd</value>
   </setting>
   <setting name="dsp8023OnlineSchema" serializeAs="String">
    <value>http://schemas.dmtf.org/ovf/envelope/1/dsp8023.xsd</value>
   </setting>
   <setting name="useOnlineSchema" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="RequiredValidations" serializeAs="String">
    <value>Version, Files, Cpu, Memory, Networks, Capability, Schema</value>
   </setting>
   <setting name="enforceValidation" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="vmwNamespacePrefix" serializeAs="String">
    <value>vmwovf</value>
   </setting>
   <setting name="vmwEnvelopeNamespace" serializeAs="String">
    <value>http://www.vmware.com/schema/ovf/1/envelope</value>
   </setting>
   <setting name="LogFormat" serializeAs="String">
    <value>Plain//Stamp</value>
   </setting>
   <setting name="knownFileExtensions" serializeAs="String">
    <value>.vhd,.pvp,.vmdk,.mf,.cert,.xva,.ovf,.wim,.vdi,.sdi,.iso,.gz</value>
   </setting>
   <setting name="manifestFileExtension" serializeAs="String">
    <value>.mf</value>
   </setting>
   <setting name="certificateFileExtension" serializeAs="String">
    <value>.cert</value>
   </setting>
   <setting name="securityAlgorithm" serializeAs="String">
    <value>SHA1</value>
   </setting>
   <setting name="wsseSchemaLocation" serializeAs="String">
    <value>Schemas\secext-1.0.xsd</value>
   </setting>
   <setting name="wsseOnlineSchema" serializeAs="String">
    <value>http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd</value>
   </setting>
   <setting name="xencSchemaLocation" serializeAs="String">
    <value>Schemas\xenc-schema.xsd</value>
   </setting>
   <setting name="wsuSchemaLocation" serializeAs="String">
    <value>Schemas\wss-utility-1.0.xsd</value>
   </setting>
   <setting name="xmldsigSchemaLocation" serializeAs="String">
    <value>Schemas\xmldsig-core-schema.xsd</value>
   </setting>
   <setting name="encryptMicrosoftAlgorithmClass" serializeAs="String">
    <value>System.Security.Cryptography.RijndaelManaged</value>
   </setting>
   <setting name="encryptKeyLength" serializeAs="String">
    <value>192</value>
   </setting>
   <setting name="encryptAlgorithmURI" serializeAs="String">
    <value>http://www.w3.org/2001/04/xmlenc#aes192-cbc</value>
   </setting>
   <setting name="encryptKeyName" serializeAs="String">
    <value>CitrixEncryptedKey</value>
   </setting>
   <setting name="tripledes_cbc" serializeAs="String">
    <value>System.Security.Cryptography.TripleDESCryptoServiceProvider</value>
   </setting>
   <setting name="aes128_cbc" serializeAs="String">
    <value>System.Security.Cryptography.RijndaelManaged</value>
   </setting>
   <setting name="aes256_cbc" serializeAs="String">
    <value>System.Security.Cryptography.RijndaelManaged</value>
   </setting>
   <setting name="aes192_cbc" serializeAs="String">
    <value>System.Security.Cryptography.RijndaelManaged</value>
   </setting>
   <setting name="rsa_1_5" serializeAs="String">
    <value>System.Security.Cryptography.RSACryptoServiceProvider</value>
   </setting>
   <setting name="rsa_oaep_mgf1p" serializeAs="String">
    <value>System.Security.Cryptography.RSACryptoServiceProvider</value>
   </setting>
   <setting name="kw_tripledes" serializeAs="String">
    <value>System.Security.Cryptography.TripleDESCryptoServiceProvider</value>
   </setting>
   <setting name="kw_aes128" serializeAs="String">
    <value>System.Security.Cryptography.RijndaelManaged</value>
   </setting>
   <setting name="kw_aes256" serializeAs="String">
    <value>System.Security.Cryptography.RijndaelManaged</value>
   </setting>
   <setting name="kw_aes192" serializeAs="String">
    <value>System.Security.Cryptography.RijndaelManaged</value>
   </setting>
   <setting name="sha1" serializeAs="String">
    <value>System.Security.Cryptography.SHA1CryptoServiceProvider</value>
   </setting>
   <setting name="sha256" serializeAs="String">
    <value>System.Security.Cryptography.SHA256CryptoServiceProvider</value>
   </setting>
   <setting name="base64" serializeAs="String">
    <value>System.Security.Cryptography.FromBase64Transform</value>
   </setting>
   <setting name="sha384" serializeAs="String">
    <value>System.Security.Cryptography.SHA384CryptoServiceProvider</value>
   </setting>
   <setting name="sha512" serializeAs="String">
    <value>System.Security.Cryptography.SHA512CryptoServiceProvider</value>
   </setting>
   <setting name="xenDefaultPVVirtualSystemType" serializeAs="String">
    <value>xen-3.0-unknown</value>
   </setting>
   <setting name="isoFileFormatURI" serializeAs="String">
    <value>http://www.osta.org/specs/pdf/udf260.pdf</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>en-US</value>
   </setting>
   <setting name="xenLinuxFixUpDisk" serializeAs="String">
    <value>External Tools\xenserver-linuxfixup-disk.iso</value>
   </setting>
   <setting name="LogForwarding" serializeAs="String">
    <value>off//XenOvfLogFwd.dll,XenOvfLogFwd.Log4Net</value>
   </setting>
   <setting name="minPasswordStrength" serializeAs="String">
    <value>128</value>
   </setting>
   <setting name="xenSRKey" serializeAs="String">
    <value>sr=</value>
   </setting>
   <setting name="xenDeviceKey" serializeAs="String">
    <value>device=</value>
   </setting>
   <setting name="des" serializeAs="String">
    <value>System.Security.Cryptography.DESCryptoServiceProvider</value>
   </setting>
   <setting name="rc2" serializeAs="String">
    <value>System.Security.Cryptography.RC2CryptoServiceProvider
</value>
   </setting>
   <setting name="useGZip" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="hostresource" serializeAs="String">
    <value>ovf:/disk/{0}</value>
   </setting>
   <setting name="mofFiles" serializeAs="String">
    <value>CIM_OperatingSystem.xml, CIM_ResourceAllocationSettingData.xml, CIM_VirtualSystemSettingData.xml</value>
   </setting>
   <setting name="knownVirtualSystemTypes" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>xen-3.0-unknown</string>
      <string>xen-3.0-x32</string>
      <string>xen-3.0-x86</string>
      <string>xen-3.0-x64</string>
      <string>hvm-3.0-unknown</string>
      <string>hvm-3.0-x32</string>
      <string>hvm-3.0-x86</string>
      <string>hvm-3.0-x64</string>
      <string>hvm-3.0-hvm</string>
      <string>301</string>
      <string>vmx-4</string>
      <string>vmx-04</string>
      <string>vmx-6</string>
      <string>vmx-06</string>
      <string>vmx-7</string>
      <string>vmx-07</string>
      <string>DMTF:xen:pv</string>
      <string>DMTF:xen:hvm</string>
      <string>virtualbox-2.2</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="vmwHardwareType" serializeAs="String">
    <value>vmx-07</value>
   </setting>
   <setting name="securityVersion" serializeAs="String">
    <value>1.3.1</value>
   </setting>
   <setting name="LogSubPath" serializeAs="String">
    <value>[Citrix]\[XenCenter]\logs</value>
   </setting>
   <setting name="CompressBufferSize" serializeAs="String">
    <value>4096</value>
   </setting>
   <setting name="ovfFileExtension" serializeAs="String">
    <value>.ovf</value>
   </setting>
   <setting name="xenVDIKey" serializeAs="String">
    <value>vdi=</value>
   </setting>
  </XenOvf.Properties.Settings>
	</applicationSettings>
 <userSettings>
  <XenOvf.Properties.Settings>
   <setting name="VMwareNamespacePrefix" serializeAs="String">
    <value>vmw</value>
   </setting>
   <setting name="VMwareNamespace" serializeAs="String">
    <value>http://www.vmware/schema/ovf</value>
   </setting>
  </XenOvf.Properties.Settings>
 </userSettings>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
