<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="XenAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <system.windows.forms jitDebugging="true"/>
    <userSettings>
      <XenAdmin.Properties.Settings>
        <setting name="ToolbarsEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SaveSession" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ServerList" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
          </value>
        </setting>
        <setting name="LocalSRsVisible" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="DefaultTemplatesVisible" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="UserTemplatesVisible" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="DebugHelp" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="RequirePass" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DoUpgrade" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="FullScreenShortcutKey" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="WindowsShortcuts" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ReceiveSoundFromRDP" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AutoSwitchToRDP" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="PreserveScaleWhenUndocked" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ProxySetting" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="ProxyAddress" serializeAs="String">
          <value/>
        </setting>
        <setting name="BypassProxyForLocal" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ProxyPort" serializeAs="String">
          <value>80</value>
        </setting>
        <setting name="PreserveScaleWhenSwitchBackToVNC" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ConnectionTimeout" serializeAs="String">
          <value>20000</value>
        </setting>
        <setting name="HttpTimeout" serializeAs="String">
          <value>40000</value>
        </setting>
        <setting name="ShowHiddenVMs" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ClipboardAndPrinterRedirection" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="DockShortcutKey" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="ConnectToServerConsole" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="WarnUnrecognizedCertificate" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="WarnChangedCertificate" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AllowUpdates" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AllowXenCenterUpdates" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AllowPatchesUpdates" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AllowXenServerUpdates" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LatestXenCenterSeen" serializeAs="String">
          <value/>
        </setting>
        <setting name="SeenAllowUpdatesDialog" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="FillAreaUnderGraphs" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DefaultSearch" serializeAs="String">
          <value>null</value>
        </setting>
        <setting name="LoadPlugins" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="EnabledPlugins" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
          </value>
        </setting>
        <setting name="IgnoreFirstRunWizards" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
          </value>
        </setting>
      </XenAdmin.Properties.Settings>
    </userSettings>

    <!-- network debugging
  <system.diagnostics>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Sockets" value="Error" />
      <add name="System.Net.Cache"  value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="System.Net"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="my.log"
           />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  -->

    <log4net>
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="${APPDATA}/[Citrix]/[XenCenter]/logs/[XenCenter].log"/>
        <appendToFile value="true"/>
        <maxSizeRollBackups value="5"/>
        <maximumFileSize value="10MB"/>
        <rollingStyle value="Size"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date %-5level %logger [%thread] - %message%newline"/>
        </layout>
      </appender>
      <appender name="NetworkTraceAppender" type="log4net.Appender.RollingFileAppender">
        <file value="${APPDATA}/[Citrix]/[XenCenter]/logs/[XenCenter] Network Trace.log"/>
        <appendToFile value="true"/>
        <maxSizeRollBackups value="5"/>
        <maximumFileSize value="10MB"/>
        <rollingStyle value="Size"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message%newline"/>
        </layout>
      </appender>
      <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date %-5level %logger [%thread] - %message%newline"/>
        </layout>
      </appender>

      <root>
        <level value="DEBUG"/>
        <appender-ref ref="RollingLogFileAppender"/>
        <!-- appender-ref ref="TraceAppender" -->
        <!-- appender-ref ref="NetworkTraceAppender" -->
      </root>

      <logger name="DotNetVnc">
        <level value="INFO"/>
      </logger>

      <logger name="XenAdmin.XSVNCScreen">
        <level value="INFO"/>
      </logger>

      <logger name="XenAdmin.Network.TaskPoller">
        <level value="INFO"/>
      </logger>

      <logger name="XenAdmin.AutomatedTests">
        <level value="INFO"/>
      </logger>

      <logger name="XenAdmin.Actions.ActivationRequestAction">
        <level value="INFO"/>
      </logger>

      <!-- Audit Trailing:  The Audit logger will log all operations starting and finishing at INFO,
         and all failed operations at WARN. -->
      <appender name="AuditAppender" type="log4net.Appender.RollingFileAppender">
        <file value="${APPDATA}/[Citrix]/[XenCenter]/logs/[XenCenter] Audit Trail.log"/>
        <appendToFile value="true"/>
        <maxSizeRollBackups value="5"/>
        <maximumFileSize value="10MB"/>
        <rollingStyle value="Size"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date - %message%newline"/>
        </layout>
      </appender>
      <logger name="Audit">
        <level value="INFO"/>
        <appender-ref ref="AuditAppender"/>
      </logger>

      <!-- XenAPI.Session will log all start-up-time XML-RPC transactions at DEBUG,
         all others at INFO.  -->
      <logger name="XenAPI.Session">
        <level value="WARN"/>
      </logger>
    </log4net>

  <NUnit>
    <TestRunner>
      <add key="ApartmentState" value="STA"/>
    </TestRunner>
  </NUnit>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  
</configuration>
