<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XenServerHealthCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <appSettings>
    <add key="log4net.Config" value="Log4Net.config"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{HEALTHCHECK_LOG}"/>
      <encoding value="utf-8" />
      <appendToFile value="true"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger [%thread] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <XenServerHealthCheck.Properties.Settings>
      <setting name="UUID" serializeAs="String">
        <value/>
      </setting>
      <setting name="HttpTimeout" serializeAs="String">
        <value>40000</value>
      </setting>
      <setting name="ServerList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="ProxySetting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProxyAddress" serializeAs="String">
        <value/>
      </setting>
      <setting name="BypassProxyForServers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ConnectionTimeout" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="ProvideProxyAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyAuthenticationMethod" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="XenCenterMetadata" serializeAs="String">
        <value/>
      </setting>
    </XenServerHealthCheck.Properties.Settings>
  </userSettings>
</configuration>
