<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="XenOvfTransport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="XenTransport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<XenOvfTransport.Properties.Settings>
   <setting name="p2vTemplate" serializeAs="String">
    <value>[XenServer product] P2V (Orela) Server</value>
   </setting>
   <setting name="xenP2VDiskName" serializeAs="String">
    <value>P2V Automatically created.</value>
   </setting>
   <setting name="xenBootOptions" serializeAs="String">
    <value>BIOS order</value>
   </setting>
   <setting name="xenBootOrder" serializeAs="String">
    <value>dc</value>
   </setting>
   <setting name="xenPlatformSetting" serializeAs="String">
    <value>nx=true;acpi=true;apic=true;pae=true;stdvga=0;</value>
   </setting>
   <setting name="xenNetworkKey" serializeAs="String">
    <value>network=</value>
   </setting>
   <setting name="xenDefaultNetwork" serializeAs="String">
    <value>xenbr0</value>
   </setting>
   <setting name="xenISOMount" serializeAs="String">
    <value>/var/run/sr-mount/{0}</value>
   </setting>
   <setting name="xenISOTools" serializeAs="String">
    <value>/var/opt/xen/iso_import</value>
   </setting>
   <setting name="xenTools" serializeAs="String">
    <value>[XenServer product] Tools</value>
   </setting>
   <setting name="XenFixupLabel" serializeAs="String">
    <value>xenserver-linuxfixup-disk.iso</value>
   </setting>
   <setting name="xenSRKey" serializeAs="String">
    <value>sr=</value>
   </setting>
   <setting name="xenDeviceKey" serializeAs="String">
    <value>device=</value>
   </setting>
   <setting name="xenNetworkUuidKey" serializeAs="String">
    <value>XenNetwork=</value>
   </setting>
   <setting name="OVFVersion" serializeAs="String">
    <value>1.0.0</value>
   </setting>
   <setting name="uriRegex" serializeAs="String">
    <value>^(http|https|file|ftp)://*</value>
   </setting>
   <setting name="iSCSITargetName" serializeAs="String">
    <value>DoNotUse_iSCSI_target</value>
   </setting>
   <setting name="iSCSINetworkName" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>Pool-wide network associated with eth0</string>
      <string>Network 0</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="iSCSIConnectRetry" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="iSCSITransferVM" serializeAs="String">
    <value>Transfer VM for VDI {0}</value>
   </setting>
   <setting name="iSCSITransferVMName" serializeAs="String">
    <value>[XenServer product] Transfer</value>
   </setting>
   <setting name="TransferType" serializeAs="String">
    <value>iSCSI</value>
   </setting>
   <setting name="xenSupportedVersions" serializeAs="String">
    <value>1.5,1.6,LATEST</value>
   </setting>
   <setting name="iSCSITransferVMNetwork" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>network_config=auto #REQUIRED: MUST BE FIRST Values:  "auto" "manual"</string>
      <string>network_mode=dhcp #REQUIRED: MUST BE SECOND Values: "dhcp" "manual"</string>
      <string>network_port=3260 #OPTIONAL: port for config is manual</string>
      <string>network_mac=00:00:00:00:00:00 #OPTIONAL: set mac address for config is manual</string>
      <string>network_ip=192.168.2.69 #OPTIONAL: Required if mode is manual</string>
      <string>network_mask=255.255.255.0 #OPTIONAL: Required if mode is manual</string>
      <string>network_gateway=192.168.2.1 #OPTIONAL: Required if mode is manual</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="DEFAULT_CULTURE" serializeAs="String">
    <value>en-us</value>
   </setting>
   <setting name="EXCLUDED_FILES_COPY" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>\PAGEFILE.SYS</string>
      <string>\HIBERFIL.SYS</string>
      <string>\SYSTEM VOLUME INFORMATION</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ReferenceVHDName" serializeAs="String">
    <value>External Tools\bootableReference.vhd</value>
   </setting>
   <setting name="bzip2ext" serializeAs="String">
    <value>.bz2</value>
   </setting>
   <setting name="iSCSITransferVMMgtNetwork" serializeAs="String">
    <value>management  #Replace with Network UUID to change iSCSI network utilization.</value>
   </setting>
   <setting name="CreateApplianceFolder" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApplianceFolderPath" serializeAs="String">
    <value/>
   </setting>
   <setting name="FixupOsMemorySizeAsMB" serializeAs="String">
    <value>256</value>
   </setting>
   <setting name="FixupDurationAsSeconds" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="FixupPollTimeAsMs" serializeAs="String">
    <value>1000</value>
   </setting>
  </XenOvfTransport.Properties.Settings>
		<XenTransport.Properties.Settings>
			<setting name="p2vTemplate" serializeAs="String">
				<value>[XenServer product] P2V (Orela) Server</value>
			</setting>
			<setting name="xenP2VDiskName" serializeAs="String">
				<value>P2V Automatically created.</value>
			</setting>
			<setting name="xenBootOptions" serializeAs="String">
				<value>BIOS order</value>
			</setting>
			<setting name="xenBootOrder" serializeAs="String">
				<value>dc</value>
			</setting>
			<setting name="xenPlatformSetting" serializeAs="String">
				<value>acpi=true;apic=true;pae=true;stdvga=0;</value>
			</setting>
			<setting name="xenNetworkUuidKey" serializeAs="String">
				<value>XenNetwork=</value>
			</setting>
			<setting name="xenDefaultNetwork" serializeAs="String">
				<value>xenbr0</value>
			</setting>
		</XenTransport.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
